{% for product in products %}
    <div class="col-md-6 col-lg-3">
        <div class="card">
            {% if product.image and vich_uploader_asset(product, 'image') %}
                <img src="{{ vich_uploader_asset(product, 'image') }}" class="card-img-top" alt="...">
            {% else %}
                <img src="//placehold.it/200x150" class="card-img-top" alt="...">
            {% endif %}

            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{ path('product', {'id': product.id}) }}">{{ product.name }}</a>
                </h5>
                <p class="card-text">{{ (product.price / 100)|localizedcurrency('UAH') }}</p>
                <p class="card-text">{{ product.description }}</p>
                <a href="{{ path('order_add_to_cart', {'id': product.id}) }}"
                   class="btn btn-primary js-add-to-cart">В корзину</a>
            </div>
        </div>
    </div>
{% endfor %}