<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{ encore_entry_link_tags('app') }}

    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('default') }}">e-Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Категории
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{ render(controller('\\App\\Controller\\CategoryController::headerCategories')) }}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('about') }}">О магазине</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{{ path('order_cart') }}" class="nav-link">
                    <i class="fas fa-shopping-cart"></i>
                    <span id="header-cart">{{ render(controller('\\App\\Controller\\OrderController::headerCart')) }}</span>
                </a>
            </li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li class="nav-item">
					   <span class="navbar-text">
						   {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
					   </span>
                </li>
                <li class="nav-item">
                    <a href="{{ path('fos_user_security_logout') }}" class="nav-link">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{{ path('fos_user_security_login') }}" class="nav-link">
                        {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('fos_user_registration_register') }}" class="nav-link">
                        {{ 'layout.register'|trans({}, 'FOSUserBundle') }}

                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>

{{ encore_entry_script_tags('app') }}

{% block javascripts %}{% endblock %}
</body>
</html>