<table class="table table-striped">
    <tr>
        <th>Товар</th>
        <th>Количество</th>
        <th>Цена</th>
        <th>Стоимость</th>
        <th></th>
    </tr>

    {% for item in order.orderItems %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>
                <input type="number" min="1" class="js-cart-count"
                       data-href="{{ path('order_update_count', {'id': item.id}) }}"
                       value="{{ item.count }}">
            </td>
            <td>{{ item.price|money }}</td>
            <td>{{ item.amount|money }}</td>
            <td>
                <a href="{{ path('order_delete_item', {'id': item.id}) }}" class="js-cart-delete">
                    <span class="fas fa-minus-circle"></span>
                </a>
            </td>
        </tr>
    {% endfor %}

    <tr>
        <td colspan="3">Всего</td>
        <td id="orderAmount">{{ order.amount|money }}</td>
        <td></td>
    </tr>
</table>

{% if order.amount == 0 %}
    <a href="{{ path('order_make_order') }}" class="btn btn-primary" id="orderButton" hidden="hidden" >Оформить заказ</a>
{% else %}
    <a href="{{ path('order_make_order') }}" class="btn btn-primary" id="orderButton">Оформить заказ</a>
{% endif %}