{% extends 'base.html.twig' %}

{% block title %}Корзина{% endblock %}

{% block body %}
    <h1>Корзина</h1>

    <table class="table table-striped">
        <tr>
            <th>Товар</th>
            <th>Количество</th>
            <th>Цена</th>
            <th>Стоимость</th>
        </tr>

        {% for item in order.orderItems %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.count }}</td>
                <td>{{ item.price|money }}</td>
                <td>{{ item.amount|money }}</td>
            </tr>
        {% endfor %}

        <tr>
            <td colspan="3">Всего</td>
            <td>{{ order.amount|money }}</td>
        </tr>
    </table>

    {#<h1>{{ dump(cart.orderItems.values) }}</h1>#}

{% endblock %}